<h1 class="text-center">Liste des produits</h1>

<p-button label="Créer produit" (onClick)="onCreate()" class="block text-center"></p-button>

<p-dropdown [options]="categories" [(ngModel)]="selectedCategory" (onChange)="onFilterCategory()" placeholder="Sélectionner une catégorie"></p-dropdown>

<p-dataView [value]="filteredProducts" [paginator]="true" [rows]="rows" [totalRecords]="totalRecords" (onPage)="onPage($event)">
    <ng-template pTemplate="listItem" let-product>
        @for (product of filteredProducts; track product) {
            @if (product.rating === 5 || product.rating === 4) {
            <p-card class="block mb-2">
                <span class="font-medium text-secondary text-sm">{{ product.category }}</span>
                <div class="text-lg font-medium text-900 mt-2">{{ product.name }}</div>
                <ng-template pTemplate="footer">
                    <div class="flex gap-3 mt-1">
                        <p-button label="Modifier" severity="secondary" (onClick)="onUpdate(product)"></p-button>
                        <p-button label="Supprimer" severity="danger" (onClick)="onDelete(product)"></p-button>
                        <p-button label="Ajouter au panier" severity="info" (onClick)="addToCart(product)"></p-button>
                    </div>
                </ng-template>
            </p-card>
            }
        }
    </ng-template>
</p-dataView>

<p-dialog [(visible)]="isDialogVisible"
    [style]="{ width: '50vw' }"
    header="Ajout/Edition produit">
    <app-product-form
        [product]="editedProduct()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</p-dialog>
